<div class="header bg-gradient-success py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Welcome!</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <h3>Reset Password</h3>
                    </div>
                    <form role="form" name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Email" type="email" formControlName="email"
                                    disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" type="password"
                                    formControlName="password" required>
                            </div>
                            <span class="error"
                                *ngIf="resetPasswordForm.get('password').hasError('required') && isSubmit">
                                Password field is required!
                            </span>
                            <span class="error"
                                *ngIf="!resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').hasError('minlength') && isSubmit">
                                Password must be at least 6 characters long!
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Confirmation Password" type="password"
                                    formControlName="confirmPass">
                            </div>
                            <span class="error"
                                *ngIf="resetPasswordForm.get('confirmPass').hasError('confirmedValidator') && isSubmit">
                                Password and Confirm Password must be match.
                            </span>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary my-4" (click)="resetPassword()">
                                Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a [routerLink]="['/login']" class="text-light"><small>Remember password?</small></a>
                </div>
            </div>
        </div>
    </div>
</div>